<div id="navigation">
  <div class="breadcrumbs text-sm" itemscope="" itemtype="http://schema.org/BreadcrumbList">
    <div class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a class="breadcrumbs__link " href="/" title="Главная" itemprop="item">
        <span itemprop="name" class="breadcrumbs__item-name">Главная</span>
        <meta itemprop="position" content="1">
      </a>
    </div>

    <span class="breadcrumbs__separator">—</span>

    <div class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a class="breadcrumbs__link " href="#" title="Продукты" itemprop="item">
        <span itemprop="name" class="breadcrumbs__item-name">Продукты</span>
        <meta itemprop="position" content="2">
      </a>
    </div>

    <span class="breadcrumbs__separator">—</span>

    <span class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <link href="#" itemprop="item">
      <span>
        <span itemprop="name" class="breadcrumbs__item-name">Аренда спецтехники</span>
        <meta itemprop="position" content="3"></span>
    </span>
  </div>
</div>
