<div id="navigation">
  <div class="breadcrumbs fs-13 color-666" itemscope="" itemtype="http://schema.org/BreadcrumbList">
    
    <div class="breadcrumbs__item" id="bx_breadcrumb_0" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a class="breadcrumbs__link " href="/" title="Главная" itemprop="item">
        <span itemprop="name" class="breadcrumbs__item-name">Главная</span>
        <meta itemprop="position" content="1">
      </a>
    </div>
    
    <span class="breadcrumbs__separator">—</span>
    
    <div class="breadcrumbs__item" id="bx_breadcrumb_1" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a class="breadcrumbs__link " href="/product/" title="Продукты" itemprop="item">
        <span itemprop="name" class="breadcrumbs__item-name">Продукты</span>
        <meta itemprop="position" content="2">
      </a>
    </div>
    
    <span class="breadcrumbs__separator">—</span>
    
    <span class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <link href="/product/arenda-tekhniki/" itemprop="item">
      <span>
        <span itemprop="name" class="breadcrumbs__item-name">Аренда спецтехники</span>
        <meta itemprop="position" content="3"></span>
    </span>
  </div>
</div>