<div class="pagination">
    <ul class="pagination__list">
        <li class="pagination__item pagination__item_prev">
            <a href="#" class="pagination__link">Назад</a>
        </li>

        <li class="pagination__item">
            <a href="#" class="pagination__link dark-link">1</a>
        </li>

        <li class="pagination__item pagination__item_active">
            <span class="pagination__link">2</span>
        </li>

        <li class="pagination__item">
            <a href="#" class="pagination__link dark-link">3</a>
        </li>
        <li class="pagination__item">
            <a href="#" class="pagination__link dark-link">4</a>
        </li>
        <li class="pagination__item pagination__item_next">
            <a href="#" class="pagination__link">Далее</a>
        </li>
    </ul>

    <button class="load-more-items btn btn-icons btn-reset mb-20">
        <i class="svg inline  svg-inline-logo color-666" aria-hidden="true">
            <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.9076 10C11.8701 11.7934 9.93109 13 7.71025 13C5.4894 13 3.55037 11.7934 2.51294 10M2.51294 4C3.55037 2.2066 5.4894 1 7.71025 1C9.93109 1 11.8701 2.2066 12.9076 4" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
                <path d="M13.7102 2V5H10.7102" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M1.71021 12V9H4.71021" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </i>
        <span class="color-666">Загрузить еще</span>
    </button>
</div>