<div class="card rounded-md border-gray-10 d-f fd-c">
    <div class="card-images">
        <picture>
            <img src="@src" alt="">
        </picture>
        <div class="card-labels ">
            <div class="label">Советы покупателям</div>
        </div>
    </div>
    <div class="card-inner p-16 d-f fd-c gap-8">
        <a href="#" class="card-name d-b text-lg fw-500 dark-link">@name</a>
        @if(preview != ''){
        <div class="card-preview text-sm">
            <p>@preview</p>
        </div>
        }
        <time class="card-date text-xs" itemprop="datePublished" datetime="2024-07-01">01 июля 2024</time>
    </div>
</div>


