<div class="card-licenses d-f fd-sm-c gap br-gray-10 rounded-md p-16">
    <div class="card-licenses__images">
        <picture>
            <img src="https://corporate.hubsup.ru/upload/iblock/727/kbruyefwx5vma88mmvbeirqxyp03xdsy.jpg" alt="">
        </picture>
    </div>
    <div class="card-licenses__inner d-f fd-c gap-8">
        <div class="card-licenses__title h5 m-0">Сертификат соответствия</div>
        <div class="card-licenses__text text-reset text-sm">
            <p>Сертификат соответствия&nbsp;— документ, подтверждающий соответствие продукции требованиям качества и&nbsp;безопасности, установленными для нее действующими стандартами и&nbsp;правилами (ГОСТ, ГОСТ Р, ГОСТ Р&nbsp;МЭК, ТУ, Технический регламент и&nbsp;пр.).</p>
        </div>
    </div>

    <i class="svg inline card-licenses__icons fill-theme-target icons icons-24" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M4 8V4M4 4H8M4 4L9 9M20 8V4M20 4H16M20 4L15 9M4 16V20M4 20H8M4 20L9 15M20 20L15 15M20 20V16M20 20H16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
    </i>

    <a data-fancybox="licenses-1" data-src="https://corporate.hubsup.ru/upload/iblock/727/kbruyefwx5vma88mmvbeirqxyp03xdsy.jpg" class="card-licenses__link"></a>
</div>