<div class="card-licenses d-f fd-c ai-c gap-8 br-gray-10 rounded-md p-16">
    <div class="card-licenses__images">
        <picture>
            <img src="https://corporate.hubsup.ru/upload/iblock/727/kbruyefwx5vma88mmvbeirqxyp03xdsy.jpg" alt="">
        </picture>
    </div>
    <div class="card-licenses__inner text-center">
        <div class="card-licenses__title fw-bold text-lg color-black m-0">Сертификат соответствия</div>
        <div class="text-sm">135 кб</div>
    </div>

    <a data-fancybox="licenses-1" data-src="https://corporate.hubsup.ru/upload/iblock/727/kbruyefwx5vma88mmvbeirqxyp03xdsy.jpg" class="card-licenses__link"></a>
</div>