<header class="header header-3 js-header br-gray-10">
    <div class="wrapper">
        <div class="header-wrapper d-f ai-c gap jc-sb">

            @include('../../base/logo.html', {
                'class': 'header-logo gap-8',
                'descriptor': true
            })

            <div class="div ml-0 d-f gap-14">
                <nav class="header-nav nav">
                    <ul class="header-list nav-list" id="more-nav">
                        <li class="header-item nav-item header-first-link level-0">
                            <a href="/" class="nav-link active">Главная</a>
                        </li>
                        <li class="header-item nav-item header-first-link level-0">
                            <a href="/company/" class="nav-link">О компании</a>
                            <ul class="header-list-second nav-list-secondary list-reset">
                                <li class="header-item has-child-more">
                                    <a class="parent nav-link" href="/company/news/">Новости
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4.56 7.71" width="6" height="9" fill="#000">
                                                <path d="M.71,7.71,0,7,3.15,3.85,0,.71.71,0,4.56,3.85Z" style="stroke-dasharray: 22, 24; stroke-dashoffset: 0;"></path>
                                            </svg>
                                        </div>
                                    </a>
                                    <ul class="header-list-third list-reset">
                                        <li class="header-item">
                                            <a href="#" class="nav-link">Новость 1</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="header-item"><a class="nav-link" href="/company/vacancy/">Вакансии</a></li>
                            </ul>
                        </li>
                        <li class="header-item nav-item header-first-link level-0">
                            <a href="/contacts/" class="nav-link">Контакты</a>
                        </li>
                        <li class="header-item nav-item header-first-link level-0">
                            <a href="/where-buy/" class="nav-link">Где купить</a>
                        </li>
                        <li class="header-item nav-item header-first-link level-0">
                            <a href="/catalog/" class="nav-link">Каталог</a>
                        </li>
                        <li class="header-item nav-item header-first-link level-0">
                            <a href="/info/" class="nav-link">Полезная информация</a>
                            <ul class="header-list-second nav-list-secondary list-reset">
                                <li class="header-item"><a class="nav-link" href="/info/faq/">Вопросы и ответы</a></li>
                                <li class="header-item"><a class="nav-link" href="/info/articles/">Статьи</a></li>
                                <li class="header-item has-child-more">
                                    <a href="/info/more/" class="nav-link parent">
                                        Возможности
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4.56 7.71" width="6" height="9" fill="#000">
                                                <path d="M.71,7.71,0,7,3.15,3.85,0,.71.71,0,4.56,3.85Z" style="stroke-dasharray: 22, 24; stroke-dashoffset: 0;"></path>
                                            </svg>
                                        </div>
                                    </a>
                                    <ul class="header-list-third list-reset">
                                        <li class="header-item">
                                            <a class="nav-link" href="/info/more/typograpy/">Оформление</a>
                                        </li>
                                        <li class="header-item">
                                            <a class="nav-link" href="/info/more/buttons/">Кнопки</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="header-item">
                                    <a class="nav-link" href="/info/documentation/">Библиотека документов</a>
                                </li>
                                <li class="header-item">
                                    <a class="nav-link" href="/info/slovar-terminov/">Словарь терминов</a>
                                </li>
                                <li class="header-item">
                                    <a class="nav-link" href="/info/webinars/">Вебинары</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>

                <button class="btn btn-icons js-header-search-btn">
                    <i class="svg inline svg-inline-search icons icons-24" aria-hidden="true">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </i>
                </button>
            </div>
        </div>
    </div>
</header>
<div class="header-search__inner">
    <div class="wrapper">
        <form class="header-search-form d-f ai-c" action="#">
            <input type="search" name="q" value="" maxlength="50" class="header-search-input" placeholder="Поиск">

            <span class="header-search-btn search-submit">
                <button type="submit" class="btn btn-primary" title="Найти">
                    Найти
                </button>
            </span>
        </form>
    </div>
</div>