
.accordion {
  border: 1px solid var(--gray-10);

  &:not(:last-child){
    margin-bottom: 4px;
  }

  // .accordion__list
  &__list {

  }

  // .accordion__control
  &__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--m-gap);
    width: 100%;
    padding: em(20);
    background-color: var(--white);

    border-radius: var(--border-radius);
    cursor: pointer;

    &::-webkit-details-marker {
      display: none;
    }

    &:hover{
      .accordion__icon{
        background-color: var(--brand-500);
        color: var(--white);
      }
    }
  }

  // .accordion__title
  &__title {
    margin: 0;
    flex: 1;
    text-align: left;
    color: var(--black);
  }

  // .accordion__icon
  &__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--gray-10);
    border-radius: var(--border-radius);

    width: em(32);
    height: em(32);

    transition: var(--animation);

    color: var(--gray-80);
    .svg{
      top: -1px;
      width: em(16);
      height: em(16);

    }
  }

  // .accordion__content
  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: flex-start;
    box-sizing: content-box;
    max-height: 0;
    padding: 0 em(20);
    overflow: hidden;
    border-top: 1px solid transparent;
    opacity: 0;
    transition: all 0.3s ease-out;
    will-change: max-height;

    .h1, .h2, .h3, .h4, .h5,
    h1, h2, h3, h4, h5{
      margin: 0;
      font-size: 120%;
      line-height: inherit;
    }

    p{
      margin: 0;

      &:not(:last-child){
        margin-bottom: 1em;
      }
    }
  }
}

// открытий аккордион
.open {
  .accordion__icon {
    transform: rotate(180deg);
  }

  .accordion__control {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    transition: border-radius 0.2s ease;
  }

  .accordion__content {
    padding: clamp(14px, 0.84vw, 20px);
    opacity: 1;
  }
}
