@import 'reset';
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'typograf';
@import 'flex';
@import 'forms';
@import 'button';
@import 'section';
@import 'slider';
@import 'tabs';
@import 'icons';
@import 'pagination';
@import 'breadcrumb';
@import 'table';
@import 'label';
@import 'modal';
@import 'filter';
@import 'accordion';
@import 'images';
@import 'offset';
@import 'slider';
@import 'tooltip';

@import 'tag';
@import 'shadow';
@import 'border-radius';
@import 'drop-down-box';


.hr-line {
  margin: 20px 0;
  padding: 0;
  height: 0;
  border: none;
  border-top: 1px solid var(--gray-10);
}

.h-100{
  height: 100%;
}