.img {
  display: block;
  border-radius: var(--m-border-radius-big);
  overflow: hidden;
  width: 100%;

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }


  // .img-default
  &-default{

    img{
      max-width: 100%;
      height: auto;
    }
  }

  // .img-fit
  &-default{

    img{
      aspect-ratio: inherit;
    }
  }


  // .img-round
  &-round {
    border-radius: 1000px;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

}

