.img {
  display: block;
  border-radius: var(--m-border-radius-big);
  overflow: hidden;
  width: 100%;

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }


  // .img-default
  &-default{

    img{
      max-width: 100%;
      height: auto;
    }
  }

  // .img-fit
  &-default{

    img{
      aspect-ratio: inherit;
    }
  }


  // .img-round
  &-round {
    border-radius: 1000px;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  // .img-120
  &-120 {
    display: block;
    width: em(120);
    height: em(120);
  }


  // .img-90
  &-90 {
    display: block;
    width: 90px;
    height: 90px;
  }

  // .img-50
  &-50 {
    display: block;
    width: 50px;
    height: 50px;
  }
}

