

.modal {
  max-width: 100%;
  padding: em(30) em(40);
  border-radius: var(--border-radius);

  // .modal_extra-small
  &_extra-small {
    width: 445px;
  }

  // .modal_small
  &_small {
    width: 600px;
  }

  // .modal_medium
  &_medium {
    width: 900px;
  }


  // .modal__header
  &__header {
    margin: 0;
    margin-bottom: em(12);
  }

  // .modal__content
  &__content{
    //color: inherit;
  }

  // .modal__footer
  &__footer {
    margin-top: em(12);
  }

  &.fancybox__content {
    background: var(--white);
    //color: currentColor;

    .f-button.is-close-btn {
      top: em(12);
      right: em(12);

      --f-button-border-radius: 0;
      --f-button-color: var(--grey-60);
      --f-button-active-bg: transparent;
      --f-button-hover-bg: transparent;
      --f-button-bg: transparent;
    }
  }

}

.is-compact .fancybox__content > .f-button.is-close-btn {
  --f-button-color: var(--gray-60);
  --f-button-hover-color: var(--gray-80);
  --f-button-bg: transparent;
  --f-button-active-bg: transparent;
  --f-button-hover-bg: transparent;
}