.section {
  position: relative;
  padding-top: clamp(32px, 2.81vw, 60px);
  padding-bottom: clamp(20px, 1.4vw, 30px);
  overflow: hidden;

  // .section-overflow
  &-overflow{
    overflow: visible;
  }

  // .section-top
  &-top{
    margin-bottom: em(48);

    // .section-top-left
    &-left{
      flex-grow: 1;
    }

    // .section-top-right
    &-right{
      flex: none;
    }
  }

  // .section-bottom
  &-bottom{
    margin-top: em(40);
  }


  // .section-subtitle
  &-subtitle{
    font-size: em(14);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: em(8);
  }

  // .section-title
  &-title{
    margin: 0;
  }

  // .section-preview
  &-preview{
    max-width: 991px;
    margin-top: 18px;
    color: var(--gray-80);

    p{
      margin: 0;

      &:not(:last-child){
        margin-bottom: 1em;
      }
    }
  }

  // .section-link
  &-link{
    color: inherit;

    @include media(md) {
      font-size: 0;
    }

    // .section-link-arrow
    &-arrow{
      margin-left: 8px;

      .svg{
        top: -2px;
        min-width: inherit;
        min-height: inherit;
        vertical-align: middle;
      }
    }
    
  }


  // .section-bg-grey
  &-bg-grey {
    background-color: var(--gray-5);
  }

  // .section-bg-grey-full
  &-bg-grey-full{
    box-shadow: 0 0 0 100vmax var(--gray-5);
    clip-path: inset(0 -100vmax);
  }

  // .section-border
  &-border{
    position: relative;
    overflow: inherit;

    &::after,
    &::before{
      content: '';
      height: 1px;
      width: 1000vw;
      position: absolute;
      right: -100%;
      left: -100%;
      background-color: var(--gray-10);
    }

    &::after{ bottom: 0; }

    &::before{ top: 0; }
  }
}

.grid-list{
  display: grid;
  gap: var(--gap);

  @include media(sm){
    gap: calc(var(--gap) /2);
  }

  // .grid-list--items-2
  &--items-2{
    grid-template-columns: repeat(2, 1fr);
  }

  // .grid-list--items-3
  &--items-3{
    grid-template-columns: repeat(3, 1fr);
    //grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }

  // .grid-list--items-4
  &--items-4{
    grid-template-columns: repeat(4, 1fr);
    //grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  // .grid-list--items-5
  &--items-5{
    grid-template-columns: repeat(5, 1fr);
    //grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  @include media(xl) {

    //.grid-list-xl-items-1
    &-xl-items-1{
      grid-template-columns: repeat(1, 1fr);
    }

    //.grid-list-xl-items-2
    &-xl-items-2{
      grid-template-columns: repeat(2, 1fr);
    }

    //.grid-list-xl-items-3
    &-xl-items-3{
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @include media(lg) {
    .grid-list
    //.grid-list-lg-items-1
    &-lg-items-1{
      grid-template-columns: repeat(1, 1fr);
    }

    //.grid-list-lg-items-2
    &-lg-items-2{
      grid-template-columns: repeat(2, 1fr);
    }

    //.grid-list-lg-items-3
    &-lg-items-3{
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @include media(md) {

    //.grid-list-md-items-1
    &-md-items-1{
      grid-template-columns: repeat(1, 1fr);
    }

    //.grid-list-md-items-2
    &-md-items-2{
      grid-template-columns: repeat(2, 1fr);
    }

    //.grid-list-md-items-3
    &-md-items-3{
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @include media(sm) {

    //.grid-list-sm-items-1
    &-sm-items-1{
      grid-template-columns: repeat(1, 1fr);
    }

    //.grid-list-sm-items-2
    &-sm-items-2{
      grid-template-columns: repeat(2, 1fr);
    }

    //.grid-list-sm-items-3
    &-sm-items-3{
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.topic{
  margin-bottom: 32px;

  // .topic__heading
  &__heading{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 8px;
    margin-bottom: 8px;

    #pagetitle{
      margin: 0;

      @include media(sm) {
        font-size: 2em;
        line-height: calc(1em + 6px);
      }
    }
  }

  // .topic__text
  &__text{
    margin-top: 12px;
    margin-bottom: 48px;
    color: var(--gray-80);

    p{
      margin: 0;
      &:not(:last-child){
        margin-bottom: 1em;
      }
    }
  }
}
