//.tag{
//
//  // .tag-list
//  &-list{
//
//  }
//
//  // .tag-item
//  &-item{
//    padding: em(8) em(16);
//    font-size: em(14);
//    border: 1px solid var(--gray-10);
//    color: var(--black);
//    border-radius: var(--border-radius);
//
//    &:hover{
//      background-color: var(--gray-5);
//      color: inherit;
//    }
//  }
//}

.tags{

  a{
    display: inline-block;
    padding: em(8) em(12);
    border: 1px solid var(--gray-10);

    &:hover{
      color: inherit;
      background-color: var(--gray-10);
    }
  }
}