.h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5{
  font-family: var(--m-font-family);
  letter-spacing: normal;
  font-weight: bold;
  color: var(--black);
}

h1, .h1{
  font-size: em(48);
  line-height: 1;
  margin: 0 0 18px;

  @include media(md){
    font-size: em(36);
    line-height: 1.2;
  }

  @include media(sm){
    font-size: em(32);
    line-height: 1.2;
  }
}

h2, .h2{
  font-size: em(36);
  line-height: 1.2;
  margin: 30px 0 25px;

  @include media(md){
    font-size: em(30);
    line-height: 1.2;
  }
}

h3, .h3{
  font-size: em(30);
  line-height: 1.2;
  margin: 30px 0 25px;

  @include media(md){
    font-size: em(24);
  }
}

h4, .h4{
  font-size: em(24);
  line-height: 1.4;
  margin: 30px 0 25px;

  @include media(md){
    font-size: em(20);
    line-height: 1.2;
  }
}

h5, .h5{
  font-size: em(20);
  line-height: 1.4;
  margin: 30px 0 25px;

  @include media(md){
    font-size: em(18);
    line-height: 1.2;
  }
}

.text{

  // .text-reset
  &-reset{
    p{
      margin: 0;

      &:not(:last-child){
        margin-bottom: 1em;
      }

    }
  }

  // .text-xl
  &-xl{
    font-size: em(20);
  }

  // .text-lg
  &-lg{
    font-size: em(18);
  }

  // .text-sm
  &-sm{
    font-size: em(14);
  }

  // .text-xs
  &-xs{
    font-size: em(12);
  }

  // .text-upper
  &-upper{
    text-transform: uppercase;
  }

  // .text-center
  &-center {
    text-align: center;
  }

  // .text-right
  &-right {
    text-align: right;
  }

  // .text-left
  &-left {
    text-align: left;
  }

  // .text-white
  &-white{
    color: var(--white);
  }

  // .text-dark
  &-dark{
    color: var(--black);
  }

  // .text-brand
  &-brand{
    color: var(--brand-500);
  }

  &-color-666{
    color: var(--gray-60);
  }


}

.fw{
  // .fw-500
  &-500{
    font-weight: 500;
  }

  // .fw-bold
  &-bold{
    font-weight: bold;
  }
}

blockquote{
  margin: em(18) 0;
  min-height: em(40);
  padding: em(8) em(20);
  position: relative;
  vertical-align: middle;
  border: none;

  &::before{
    content: " ";
    display: block;
    left: 0;
    position: absolute;
    top: em(5);
    bottom: em(5);
    width: em(2);
    background-color: var(--brand-500);
  }

  small{
    display: block;
    margin-top: em(8);
    color: var(--black);
  }
}

a{
  color: var(--brand-500);
  transition: var(--animation);

  &:hover {
    color: var(--brand-300);
  }

  &.dark-link{
    color: var(--black);

    &:hover {
      color: var(--brand-500);
    }
  }

  &.white-link{
    color: var(--white);

    &:hover {
      color: var(--brand-500);
    }
  }
}