$breakpoints: (
  xxl: 1367px,
  xl: 1200px,
  lg: 992px,
  md: 768px,
  sm: 576px,
  small: 360px,
);

$sizes: (
  0: 0,
  4: 4px,
  8: 8px,
  12: 12px,
  16: 16px,
  20: 20px,
  24: 24px,
  28: 28px,
  32: 32px,
  36: 36px,
  40: 40px,
  44: 44px,
  48: 48px,
);