.tabs {
    &-wrapper {
      position: relative;
      overflow: hidden;
      margin-block: 1rem;
    }
    &-nav {
      white-space: nowrap;
      z-index: 1;
  
      position: relative;
      margin: 0;
    }
    &-arrows {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }
    &-arrow {
      &-right {
        right: -5px;
        border-left: 1px solid #ececec;
        border-color: var(--gray-10);
  
        &.disabled {
          display: none;
        }
  
        svg {
          transform: rotate(90deg);
        }
      }
  
      &-left {
        left: -5px;
        border-right: 1px solid #ececec;
        border-color: var(--gray-10);
  
        &.disabled {
          display: none;
        }
  
        svg {
          transform: rotate(-90deg);
        }
      }
    }
  }
  
  .arrow {
    position: absolute;
    width: 38px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    z-index: 1;
    cursor: pointer;
  }
  