.page-404{
  padding: 50px 0;

  // .page-404__images
  &__images{

    .svg{
      width: em(520);
      height: em(200);


      svg{
        color: var(--brand-500);
        width: 100%;
        height: 100%;
      }

      @include media(md) {
        width: 350px;
        height: 120px;
      }

      @include media(sm) {
        width: 290px;
        height: 104px;
      }
    }
  }

  // .page-404__inner
  &__inner{

  }

  // .page-404__title
  &__title{
    font-size: em(42);
    line-height: 1.2;

    @include media(md) {
      font-size: em(32);
    }

    @include media(sm) {
      font-size: em(28);
    }
  }
}