<footer id="footer" class="footer @type" data-footer="footer-1">
    <div class="wrapper">
        <div class="footer-top d-f gap jc-sb fd-md-c">
            <div class="footer-inner d-f fd-c gap">
                <nav class="footer-nav">
                    <ul class="list-reset d-f fw-w gap footer-menu">
                        <li><a href="#" class="footer-menu-link fw-500">О компании</a></li>
                        <li><a href="#" class="footer-menu-link fw-500">Услуги</a></li>
                        <li><a href="#" class="footer-menu-link fw-500">Условия оплаты</a></li>
                        <li><a href="#" class="footer-menu-link fw-500">Условия доставки</a></li>
                        <li><a href="#" class="footer-menu-link fw-500">Оформление</a></li>
                        <li><a href="#" class="footer-menu-link fw-500">Кнопки</a></li>
                        <li><a href="#" class="footer-menu-link fw-500">Обзоры</a></li>
                    </ul>
                </nav>

                <div class="footer-social mt-8">
                    @include('../social-list.html')
                </div>
            </div>

            <div class="footer-contact d-f fd-c">
                <div class="footer-contact-item d-f ac-i gap-8">
                    <i class="svg inline svg-inline-phone footer-contact-icons" aria-hidden="true">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M3 5C3 3.89543 3.89543 3 5 3H8.27924C8.70967 3 9.09181 3.27543 9.22792 3.68377L10.7257 8.17721C10.8831 8.64932 10.6694 9.16531 10.2243 9.38787L7.96701 10.5165C9.06925 12.9612 11.0388 14.9308 13.4835 16.033L14.6121 13.7757C14.8347 13.3306 15.3507 13.1169 15.8228 13.2743L20.3162 14.7721C20.7246 14.9082 21 15.2903 21 15.7208V19C21 20.1046 20.1046 21 19 21H18C9.71573 21 3 14.2843 3 6V5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </i>
                    <span class="footer-contact-value fw-500">
                      <a href="tel:+7 (000-11) 1-22-33">+7 (000) 111-22-33</a>
                      <a href="tel:+7 (000-11) 1-22-33">+7 (000) 111-22-33</a>
                    </span>
                </div>

                <div class="footer-contact-item d-f ac-i gap-8">
                    <i class="svg inline svg-inline-mail footer-contact-icons" aria-hidden="true">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M3 8L10.8906 13.2604C11.5624 13.7083 12.4376 13.7083 13.1094 13.2604L21 8M5 19H19C20.1046 19 21 18.1046 21 17V7C21 5.89543 20.1046 5 19 5H5C3.89543 5 3 5.89543 3 7V17C3 18.1046 3.89543 19 5 19Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </i>
                    <span class="footer-contact-value">
                      <a href="mailto:info@site.ru">info@bitrix-developers.ru</a>
                    </span>
                </div>

                <div class="footer-contact-item d-f ac-i gap-8">
                    <i class="svg inline svg-inline-location footer-contact-icons" aria-hidden="true">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M17.6569 16.6569C16.7202 17.5935 14.7616 19.5521 13.4138 20.8999C12.6327 21.681 11.3677 21.6814 10.5866 20.9003C9.26234 19.576 7.34159 17.6553 6.34315 16.6569C3.21895 13.5327 3.21895 8.46734 6.34315 5.34315C9.46734 2.21895 14.5327 2.21895 17.6569 5.34315C20.781 8.46734 20.781 13.5327 17.6569 16.6569Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15 11C15 12.6569 13.6569 14 12 14C10.3431 14 9 12.6569 9 11C9 9.34315 10.3431 8 12 8C13.6569 8 15 9.34315 15 11Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </i>
                    <span class="footer-contact-value">Челябинск, ул. Лермонтова 21, 3 этаж, офис 4</span>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-inner d-f ai-c jc-sb text-sm fd-md-c">
                <div class="footer-copy">2024 © Все права защищены</div>
                <div class="footer-license">
                    <a href="#">Политика конфиденциальности</a>
                </div>

                @include('../../base/developers.html')
            </div>
        </div>
    </div>
</footer>