<footer id="footer" class="footer @type" data-footer="footer-3">
  <div class="wrapper">
    <div class="footer-top d-f gap jc-sb fd-md-c ai-c">
      <div class="footer-inner d-f fd-c">
        <nav class="footer-nav">
          <ul class="list-reset d-f fw-w gap footer-menu">
            <li><a href="#" class="footer-menu-link fw-500">О компании</a></li>
            <li><a href="#" class="footer-menu-link fw-500">Услуги</a></li>
            <li><a href="#" class="footer-menu-link fw-500">Условия оплаты</a></li>
            <li><a href="#" class="footer-menu-link fw-500">Условия доставки</a></li>
            <li><a href="#" class="footer-menu-link fw-500">Оформление</a></li>
            <li><a href="#" class="footer-menu-link fw-500">Кнопки</a></li>
            <li><a href="#" class="footer-menu-link fw-500">Обзоры</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer-social">
        @include('../social-list.html')
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom-inner d-f ai-c jc-sb text-sm fd-md-c">
        <div class="footer-copy">2024 © Все права защищены</div>
        <div class="footer-license">
          <a href="#">Политика конфиденциальности</a>
        </div>

        @include('../../base/developers.html')
      </div>
    </div>
  </div>
</footer>