.footer{
  
 &.--dark{
   background-color: #2b2f32;

   --link-footer: #fff;
   --icons-color: var(--gray-10);
 }
  &.--light{
    background-color: #f5f5f5;

    --link-footer: #333;
    --icons-color: var(--gray-80);
  }




  // .footer-top
  &-top {
    padding: em(40) 0;

    @include media(md){
      gap: em(8);
    }
  }

  // .footer-part-item
  &-part-item{
    flex: 1;

    &.--contact{
      @include media(xl){
        width: 100%;
        flex-basis: 100%;
      }
    }

  }


  // .bottom-menu
  .bottom-menu{

    // .bottom-menu-title
    &-title{
      margin-bottom: em(8);

      @include media(md){
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: em(8);
      }
    }

    &-list{
      transition: var(--animation);

      @include media(md){
        display: none
      }

      a{
        opacity: .6;
      }
    }

    // .bottom-menu-icons
    &-icons{
      display: none;
      transition: var(--animation);

      @include media(md){
        display: inline-flex;
        width: em(20);
        height: em(20);
      }

      &.active{
        transform: rotate(180deg);
      }
    }


    &-link{
      color: var(--link-footer);
      //opacity: .8;

      &:hover{
        //opacity: 1;
      }
    }
  }

  // .footer-social
  &-social{
    margin-top: em(20);
  }



  // .footer-contact
  &-contact{
    width: 300px;
    gap: em(8);

    @include media(md){
      order: -1;
      width: 100%;
    }

    // .footer-contact-item
    &-item{
      width: 100%;
    }

    // .footer-contact-icons
    &-icons{
      flex: none;
      width: em(24);
      height: em(24);
      color: var(--icons-color);
    }

    // .footer-contact-value
    &-value{
      flex-grow: 1;
      color: var(--link-footer);

      a{
        display: block;
        color: var(--link-footer);
      }
    }

  }

  // .footer-bottom
  &-bottom{
    border-top: 1px solid var(--gray-20);
    padding: em(10) 0;

    // .footer-bottom-inner
    &-inner{

    }
  }

  // .footer-copy
  &-copy{

  }

  // .footer-license
  &-license{

    a{
      color: var(--link-footer);
    }
  }
}