<div class="block-consultation">
    <div class="wrapper">
        <div class="block-consultation-wrapper d-f ai-c gap fd-md-c">
            <div class="block-consultation-title h4 m-0">Нужна консультация?</div>
            <div class="d-f ai-c gap fd-lg-c ai-lg-fs ai-md-c">
                <div class="block-consultation-text">
                    <p>Подробно расскажем о наших услугах, видах работ и типовых проектах, рассчитаем стоимость и подготовим индивидуальное предложение!</p>
                </div>
                <div class="block-consultation-btn">
                    <button class="btn btn-secondary">Задать вопрос</button>
                </div>
            </div>
        </div>
    </div>
</div>
@include('./footer/footer-2.html')