<div class="aside-scroll-block">
    <ul class="side-menu aside-block">
        <li class="active opened">
            <span class="bg-opacity-theme-parent-hover link-wrapper fill-theme-parent-all">
                <a href="/company/" class="dark-link switcher-title top-level-link link--active link-with-flag" aria-current="page">Компания</a>
            </span>
        </li>

        <li>
            <span class="bg-opacity-theme-parent-hover link-wrapper fill-theme-parent-all">
                <a href="/company/history/" class="dark-link top-level-link  link-with-flag">История компании</a>
            </span>
        </li>

        <li>
            <span class="bg-opacity-theme-parent-hover link-wrapper fill-theme-parent-all">
                <a href="/company/vacancy/" class="dark-link top-level-link  link-with-flag">Вакансии</a>
            </span>
        </li>

        <li>
            <span class="bg-opacity-theme-parent-hover link-wrapper fill-theme-parent-all">
                <a href="/company/brands/" class="dark-link top-level-link  link-with-flag">Производители</a>
            </span>
        </li>

        <li>
            <span class="bg-opacity-theme-parent-hover link-wrapper fill-theme-parent-all">
                <a href="/company/licenses/" class="dark-link top-level-link  link-with-flag">Лицензии</a>
            </span>
        </li>

        <li>
            <span class="bg-opacity-theme-parent-hover link-wrapper fill-theme-parent-all">
              <a href="/company/requisites/" class="dark-link top-level-link  link-with-flag">Реквизиты</a>
            </span>
        </li>
    </ul>
</div>