.card-product{
  overflow: hidden;
  cursor: pointer;
  height: 100%;
  position: relative;

  &:hover{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

    .card-product-panel{
      opacity: 1;
    }
  }

  // .card-product-images
  &-images{
    overflow: hidden;
    position: relative;
    //aspect-ratio: 3 / 4;
    aspect-ratio: 1 / 1;
    max-height: em(300);

    img{
      transition: var(--animation);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .card-product-control
  &-control{
    position: absolute;
    top: em(16);
    left: em(16);
    z-index: 10;
    width: calc(100% - em(16));
  }

  // .card-product-panel
  &-panel{
    width: em(50);
    opacity: 0;
    .btn{
      display: block;
      min-height: auto;
      padding: em(4);
      background-color: var(--gray-5);
      .svg{
        width: em(24);
        height: em(24);
      }

      &:hover{
        background-color: var(--brand-500);
        .svg{
          color: var(--white);
        }
      }

      &.active{
        background-color: var(--brand-500);
        .svg{
          color: var(--white);
        }
      }
    }
  }


  // .card-product-labels
  &-labels{
    flex: 1;
  }

  // .card-product-inner
  &-inner{
    flex-grow: 1;
  }

  // .card-product-name
  &-name{
    line-height: 1.3;
    margin-bottom: em(4);
  }

  // .card-product-price
  &-price{
    margin-top: auto;
  }


  // .card-product-btn
  &-btn{
    margin-top: auto;
  }
}

.price{

  // .price-inner
  &-inner{

    .label{
      padding: em(4) em(12);
      border-radius: calc(var(--border-radius) * 2);
    }

  }

  // .price-regular
  &-regular{

  }

  // .price-sale
  &-sale{
    text-decoration: line-through;
  }
}