.card{
  overflow: hidden;
  cursor: pointer;
  height: 100%;

  &:hover{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

    .card-images{
      img{
        transform: scale(1.1);
      }
    }
  }

  // .card-images
  &-images{
    overflow: hidden;
    position: relative;
    aspect-ratio: 3 / 2;

    img{
      transition: var(--animation);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .card-labels
  &-labels{
    position: absolute;
    top: em(16);
    left: em(16);
  }

  // .card-inner
  &-inner{
    flex-grow: 1;
  }

  // .card-name
  &-name{
    line-height: 1.3;
    margin-bottom: em(4);
  }

  // .card-preview
  &-preview{
    margin: em(4) 0;
    p{
      margin: 0;
    }
  }

  // .card-info
  &-info{
    margin-top: auto;

    //.card-info-item
    &-item{

    }
    .svg{
      top: -1px;
      width: 18px;
      height: 18px;
    }
  }

  // .card-date
  &-date{

  }
}