.footer{

  &.--dark{
    background-color: #2b2f32;

    --link-footer: var(--white);
    --icons-color: var(--gray-10);
  }
  &.--light{
    background-color: #f5f5f5;

    --link-footer: var(--black);
    --icons-color: var(--gray-80);
  }

  // .footer-top
  &-top {
    padding: em(40) 0;
  }

  // .footer-inner
  &-inner{
    flex: 1;
  }

  // .footer-part-item
  &-part-item{
    flex: 1;

    &.--contact{
      @include media(xl){
        width: 100%;
        flex-basis: 100%;
      }
    }

  }

  // .footer-menu
  &-menu{

    // .footer-menu-link
    &-link{

      color: var(--link-footer);
      opacity: .8;

      &:hover{
        opacity: 1;
      }
    }
  }

  // .bottom-menu
  .bottom-menu{

    // .bottom-menu-title
    &-title{
      margin-bottom: em(8);

      @include media(md){
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: em(8);
      }
    }

    &-list{
      transition: var(--animation);

      @include media(md){
        display: none
      }

      a{
        opacity: .6;
      }
    }

    // .bottom-menu-icons
    &-icons{
      display: none;
      transition: var(--animation);

      @include media(md){
        display: inline-flex;
        width: em(20);
        height: em(20);
      }

      &.active{
        transform: rotate(180deg);
      }
    }


    &-link{
      color: var(--link-footer);
      //opacity: .8;

      &:hover{
        //opacity: 1;
      }
    }
  }



  // .footer-contact
  &-contact{
    width: 300px;
    gap: em(8);

    @include media(md){
      order: -1;
      width: 100%;
    }

    // .footer-contact-item
    &-item{
      width: 100%;
    }

    // .footer-contact-icons
    &-icons{
      flex: none;
      width: em(24);
      height: em(24);
      color: var(--icons-color);
    }

    // .footer-contact-value
    &-value{
      flex-grow: 1;
      color: var(--link-footer);

      a{
        display: block;
        color: var(--link-footer);
      }
    }

  }

  // .footer-bottom
  &-bottom{
    border-top: 1px solid var(--gray-20);
    padding: em(10) 0;

    // .footer-bottom-inner
    &-inner{

    }
  }

  // .footer-copy
  &-copy{

  }

  // .footer-license
  &-license{

    a{
      color: var(--link-footer);
    }
  }

  // .footer-developers
  &-developers{
    color: var(--link-footer);
  }


  &[data-footer=footer-1]{

  }

  &[data-footer=footer-2]{

  }

  &[data-footer=footer-3]{
    .footer-social{
      //margin-top: 0;
    }
  }

}

.block-consultation{
  padding: em(32) 0;
  background-color: var(--brand-500);
  color: var(--white);
  position: relative;
  overflow: hidden;

  // .block-consultation-title
  &-title{
    color: var(--white);
    margin: 0;
    position: relative;
    //white-space: nowrap;

    //flex: 1;

    &:after{
      content: '';
      position: absolute;
      top: -100px;
      left: 0;
      opacity: 0.2;

      width: 250px;
      height: 250px;
      background-size: contain;

      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M8.22766 9C8.77678 7.83481 10.2584 7 12.0001 7C14.2092 7 16.0001 8.34315 16.0001 10C16.0001 11.3994 14.7224 12.5751 12.9943 12.9066C12.4519 13.0106 12.0001 13.4477 12.0001 14M12 17H12.01M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="%23FFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
    }
  }

  // .block-consultation-text
  &-text{
    flex: 1;
    padding-right: em(40);
    opacity: .8;


    @include media(lg){
      padding-right: em(0);
    }

    @include media(md){
      text-align: center;
      opacity: .9;
    }
    p{
      margin: 0;

    }
  }

  // .block-consultation-btn
  &-btn{
    flex-shrink: 1
  }

}

